.App {
  width: 300px;
  height: 300px;
  padding: 19px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.todo__input {
  width: 230px;
  font-size: 20px;
  border: none;
  margin-top: 15px;
}

.todo__button {
  font-size: 20px;
  border: none;
  background: black;
  color:white;
  cursor: pointer;
}

.todo__block {
  padding: 0;
}

.todo__item {
  border-bottom: 1px solid grey;
  font-size: 25px;
  padding: 5px 10px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.todo__item__text {
  width: 195px;
  word-break: break-word;
}

.todo__item--completed {
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
}

.todo__item--cross {
  border: none;
  background: #f5f5f5;
  color: #af5b5e;
  cursor: pointer;
}

.completed {
  color: grey;
  text-decoration: line-through;
  border: none;
}

.container-list {
  width: 290px;
  height: 230px;
  overflow: scroll;
}
.container-filter {
  width: 290px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: lightgray;
  color: white;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.container-filter__item {
  border: none;
  background: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid;
  cursor: pointer;
}

.container-buttonArchive {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-archive {
  width: 290px;
  height: 200px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  top: 60px;
  margin-left: 315px;
  animation: show 1s  alternate;

}

.button-archive {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  height: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 6px;
}

.button-archive span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-archive span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-archive:hover span {
  padding-right: 25px;
}

.button-archive:hover span:after {
  opacity: 1;
  right: 0;
}

.archive-list {
  width: 260px;
  height: 170px;
  padding: 20px;
  box-sizing: border-box;
  overflow: scroll;
}

.container-archive__button {
  background: black;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.archive-list__item {
  border-bottom: 1px solid grey;
  font-size: 25px;
  padding: 5px 10px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.archive-list__text {
  width: 190px;
  word-break: break-word;
}

.hide {
  display: none;
}


@keyframes show {
  0% {
    left: 250px; 
    z-index: -1;     
  }
  100% {
    left: 497px;
  }
}